{% extends '@admin/layout.twig' %}
{% block title %}
	{{ trans("contact.details")}}
	{{ item.name }}
{% endblock %}
{% block pagetitle %}
	{{ trans("contact.details")}}

{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-4">
							{{ field('subject', item.subject, trans("subject"), {}, {disabled: true}) }}
						</div>
						
						<div class="col-sm-12 col-md-4">
							{{ field('name', item.name, trans("name"), {}, {disabled: true}) }}
						</div>
						<div class="col-sm-12 col-md-4">
							{{ field('email', item.email, trans("email"), {}, {disabled: true}) }}
						</div>
						<div class="col-sm-12 col-md-6">
							{{ field('anonymized_ip', item.ip, trans("ip"), {}, {disabled: true}) }}
						</div>
						<div class="col-sm-12 col-md-6">
							{{ field('created_at', item.createdAt.format('d/m/y H:i:s'), trans("date"), {}, {disabled: true}) }}
						</div>
                        <div class="col-sm-12 col-md-12">
							{{ field('content', item.content, trans("message"), {type: 'textarea'}, {disabled: true, rows: 5}) }}
                        </div>
					</div>
					<a type="submit" class="btn btn-primary" href="mailto:{{ item.email}}?subject=Contact '{{ item.name }}'">{{ trans("contact.recontact")}}</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
